$font: 1rem;
$font-md: 1.6rem;
$font-lg: 2rem;

$gray-1: #eaeaea;
$gray-2: #f4f4f4;
$gray-3: #666;

$gap-sm: 1rem;
$gap-md: 2rem;
$gap-lg: 4rem;

$border-radius: 2rem;
$break-md: 600px;
$box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
