@import "../base";

.wrapper {
  display: flex;
  text-transform: capitalize;
}

.listItem {
  background: $gray-3;
  border-radius: $border-radius;
  color: white;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.normal .listItem {
  padding: 0.4rem 0.8rem;
}

.small .listItem {
  font-size: smaller;
  padding: 0.2rem 0.6rem;
}
