@import "../base";

$image-size: 300px;

.wrapper {
  margin: 0 !important;
  min-height: 100vh;
  width: 100% !important;

  @media (min-width: $break-md) {
    border-radius: $border-radius;
    margin: 10vh auto !important;
    min-height: auto;
    width: 500px !important;
  }
}

.closeButton {
  background: none;
  border: none;
  color: $gray-3;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  margin-left: -4px;
  padding: 0;

  &:focus,
  &:hover {
    color: inherit;
  }
}

.image {
  background: $gray-2;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  margin: $gap-sm 0;

  img {
    height: $image-size;
    width: $image-size;
  }
}

.measures {
  display: flex;
}
