@import "../base";

.cards {
  align-items: center;
  display: grid;
  grid-gap: $gap-md;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: $gap-md;
  text-align: left;
}
