.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 2rem;
  text-align: left;
}

.card {
  border-radius: 2rem;
  border: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: white;
  font-size: 1em;
  padding: 2rem;
  transition: 0.2s;
  width: 100%;
}

.card:hover,
.card:focus {
  transform: scale3d(1.1, 1.1, 1);
}

.button {
  transition: 0.2s;
  cursor: pointer;
  background: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 2em;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.button:hover,
.button:focus {
  transform: scale3d(1.1, 1.1, 1);
}
